@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("fundo.jpg");
    background-attachment: fixed;
    background-color: black;
    color: white;
    padding: 10px;  
}

header {
    width: 80%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 50px;
    border: 1px solid white;
    border-radius: 5px;
    
}

main {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 600px;
    margin-bottom: 24px;
    margin-top: 60px;
}

.container-input {
    max-width: 480px;
    margin: 14px 0;
}

.container-input span {
    color: white;
    font-size: 22px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #dfdfdf;
    height: 10px;
    outline: none;
    margin-top: 8px;
}

.button-cta {
    height: 40px;
    background-color: darkgrey;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px
}

.container-password {
    max-width: 480px;
    margin: 14px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.title {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid grey;
    transition: transform 0.5s;
}

.password:hover {
transform: scale(1.05);
}

.tooltip {
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgb(15, 15, 15);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.container-password:hover .tooltip {
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}

.hide {
    display: none;
}


/**/

.img_logo {
    width: 80px;
    border-radius: 50%;
}

.menu {
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;

}

#link_menu {
    padding: 10px;
    text-decoration: none;
    color: white;
}

#link_menu:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}
